/* content */

#content {
  position: relative;
  padding: 10% 5% 10px 7%;
  margin-top: $top-margin;
  margin-left: 5%;
  margin-bottom: 20px;

  p, ul, a {
    color: $dark-green;
  }

  ul {
    padding-left: 10px;
  }

  a {
    font-size: 90%;
  }

  img {
    width: 100%;
  }
}

#content:before {
  content: "";
  width: $line-thickness;
  height: 100%;
  background-color: $white;
  display: inline-block;
  position: absolute;
  bottom: 0;
  margin-left: -5%;
}

.content-wrap {
  padding-left: 10px;
}
