/* fotos */

.thumbnail {
  padding: 10px 10px 10px 10px;
  background-color: #FFFFFF;
  margin-bottom: 30px;

  p {
    color: #666666 !important;
    text-align: center;
  }
}

/* Photoswipe override */
.pswp__caption__center {
  text-align: center !important;
  max-width: 600px !important;
}