body {
  font-family: $font;
  margin: 0;
  padding: 0;
  background-color: $light-green;
  font-size: $font-size-normal;
}

p {
  color: $dark-green;
}

a {
  font-size: 90%;
  color: $dark-green;
}

.small {
  font-size: $font-size-small;
}

.large {
  font-size: $font-size-large;
}

.center {
  text-align: center;
}

#page {
  position: relative;
  width: 100%;
  height: 100px;
}

#flower {
  position: absolute;
  width: 36%;
  margin-top: -12%;
}

#leave {
  position:absolute;
  right: 0;
  width: 64%;
  margin-top: -12%;
}

#content {
  position: relative;
  padding: 15% 5% 10px 7%;
  margin-top: 12%;
  margin-left: 5%;
  margin-bottom: 20px;
}

#content:before {
  content: "";
  width: $line-thickness;
  height: 100%;
  background-color: $white;
  display: inline-block;
  position: absolute;
  bottom: 0;
  margin-left: -5%;
}
