/* variables */

/* Typography */

$font: Verdana,Geneva,sans-serif;
$font-size-normal: 16px;
$font-size-small: 12px;
$font-size-large: 20px;

/* colours */

$light-green:   #D9EEAA;
$dark-green:    #3E5E22;
$white:         #FFFFFF;

/* site specific */

$line-thickness: 3px;
